{% extends "auctions/layout.html" %}

{% block body %}
<div style="display: flex;">
    <div>
        <h2>{{ listing.title }}</h2>
        <form action="{% url 'listing' id=listing.id %}" method="POST">
            {% csrf_token %}
            {% if not watchlist %}
            <button>Add to watchlist</button>
            {% else %}
            <button>Remove from watchlist</button>
            {% endif %}
        </form>
        <p>Category: {{ listing.category }}</p>
        <p>Description: {{ listing.description }}</p>
        {% if bids %}
        <p>Starting Price: ${{ bids.amount }}</p>
        {% else %}
        <p>Starting Price: ${{ listing.startingPrice }}</p>
        {% endif %}
        <img src="{{ listing.image }}" style="height: 400px; width: 400px;" alt="{{ listing.title }}">
    </div>
    <div>
        <h2>Place Bid on {{ listing.title }}</h2>
        <form method="post" action="{% url 'placebid' id=listing.id %}">
            {% csrf_token %}
            {{ bid_form }}
            <button type="submit">Place Bid</button>
        </form>
    </div>
</div>
{% endblock %}